version 1.0

task {{ taskname }} {
  input {
    {% for input in inputs -%}
    {{ input[0] }} {{ input[1] }}
    {% endfor -%}
  }

  command {
    {{ command }}
  }

  runtime {
  }

  output {
  }
}
